<!DOCTYPE html>
<html>
  <head>
    <title>Kayotic Leaflet Webmap</title>
    <link rel="stylesheet" href="stylesheets/style.css">
	  <link rel="stylesheet" href="stylesheets/leaflet.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="map"></div>
    <script src="javascripts/webmap.js"></script>
  </body>
</html>
